/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://4kwallpapers.com/images/wallpapers/chibi-luffy-one-2560x1440-13063.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

input[type="text"], input[type="login"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #007bff;
}


button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

