body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://4kwallpapers.com/images/wallpapers/chibi-luffy-one-2560x1440-13063.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.password-reset-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.password-reset-container h2 {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-reset-container input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-reset-container button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 50%; /* Altere o valor para 50% para tornar os botões circulares */
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.password-reset-container .input-group {
    position: relative; /* Adicione essa propriedade para posicionar o botão de olho */
    width: calc(100% - 0px);
    margin: 0px;
}

.password-reset-container .input-group .input-group-text {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 10px; /* Ajuste para posição absoluta do lado direito */
    top: 50%; /* Posicione o botão no centro vertical */
    transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.password-reset-container .forgot-password-link {
    margin-top: 10px;
    text-align: center;
    color: #f5f0f0; /* Cor de texto preto */
    text-decoration: none;
    cursor: pointer;
}

.password-reset-container .forgot-password-link:hover {
    text-decoration: underline;
}
