.CreateTask-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333; /* Cor do texto do botão */
}

.CreateTask-button:hover {
  color: #555; /* Cor do texto do botão ao passar o mouse */
}
