body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://4kwallpapers.com/images/wallpapers/persona-3-reload-3840x2160-12719.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .reset-password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  .reset-password-container h2 {
    text-align: center;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-group .input-group-text button,
  input[type="submit"],
  button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .input-group {
    position: relative;
    width: calc(100% - 0px);
    margin: 0px;
  }
  
  .input-group .input-group-text {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  